* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Merriweather", sans-serif;
    background: #05070D;
    color: white;
    background:
    linear-gradient(135deg, rgba(0, 229, 255, 0.12), rgba(124, 58, 237, 0.12)),
    radial-gradient(circle at 20% 80%, rgba(0, 229, 255, 0.25), transparent 60%),
    radial-gradient(circle at 80% 20%, rgba(124, 58, 237, 0.25), transparent 60%),
    #05070D;
    position: relative;
 }   




nav {
    width: 100%;
    padding: 1rem 5%;
    background-color: #0A0A0F;
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #00F0FF;

}

nav .nav-grupp {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color:  #00F0FF;
    letter-spacing: 2px;
    font-family: "Rubik Mono One", sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 8px #00F0FF88;

    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #BEEFFF;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00F0FF;
    text-shadow: 0 0 10px #38bdf8;
    border-bottom: 2px solid #00E5FF;
}

.btns {
    display: flex;
}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background-color:#00E5FF;
    color: #0f172a;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #0aa9f3;
    box-shadow: 0 0 25px #0aa9f3;
}

#slider {
    overflow: hidden;
    height: 500px;
    background-color:#0A0A0F;
    margin: 0 2vw;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    display: flex;
    animation: slider 40s infinite;
    z-index: 1;
}

.sliderimage {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: right;
}


.sliderimage img {
    width: 55vw;
    border-left: 1px solid black;
    height: 100%;
    

    
}

.slide1 {
    
    background: linear-gradient(135deg, #140021, #2D0050, #3E0070);
    font-family: "League Gothic", sans-serif;
    color: white
}

.slide1 h1 {
    position: absolute;
    top: 50px;
    left: 0.5%;
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
}

.slide1 p {
    position: absolute;
    top: 200px;
    left: 35px;
    font-size: 2rem;
    max-width: 50%;
    font-style: italic;
    text-decoration: overline;
}



.slide2 {
    background: linear-gradient(135deg, #001220, #002A3A, #00475F);;
}

.slide3 {
    background: linear-gradient(135deg, #001F2F, #2A0040, #00E5FF);;
}

.slide4 {
    background: linear-gradient(135deg, #05070D, #0A0F1F);;
}

.slide5 {
    background-color: #4CD47B;
}
@keyframes slider {
    
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}



}

.varför {
    margin: 75px 2vw;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    border: 15px;
    height: 650px;
    border-radius: 30px;
    border: 2px solid #00475F;

}

.rubrik1 {
    position: absolute;
    color: #00F0FF;
    text-shadow: 0 0 8px #00F0FF88;
    left: 37vw;
    font-size: 2rem;
}
.rubriktext1 {
    position:absolute;
    top: 100px;
    max-width: 50%;
    left: 24vw;
    color: white;
    text-shadow: 0 0 8px #00E5FF;
    font-size: 1.2rem;

    
}


.card-grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: 350px;
    gap: 24px;
    position: relative;
    top: 250px;
}

.card {
    background: rgba(255, 255, 255, 0.03); /*Fick dessa värden och färger från Chatgpt*/
    border: 1px solid rgba(0, 240, 255, 0.3);
    border-radius: 15px;
    padding: 28px;
    color: #E4F1FF;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.15), inset 0 0 12px rgba(0, 240, 255, 0.08);
    margin: 0 10px;

    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow:0 0 25px rgba(0, 240, 255, 0.35), inset 0 0 18px rgba(0, 240, 255, 0.15);

}

.card-icon {
    font-size: 3rem;
    color: #00F0FF;
    margin-bottom: 16px;

}

.card p, .card h3 {
    color: white;
    text-shadow: 0 0 8px #00E5FF;


}

