* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Merriweather", sans-serif;
    background: #05070D;
    color: white;
    background:
    linear-gradient(135deg, rgba(0, 229, 255, 0.12), rgba(124, 58, 237, 0.12)),
    radial-gradient(circle at 20% 80%, rgba(0, 229, 255, 0.25), transparent 60%),   /*fick detta från chat*/
    radial-gradient(circle at 80% 20%, rgba(124, 58, 237, 0.25), transparent 60%),
    #05070D;
    position: relative;
 }   



#slider {
    overflow: hidden; /*Allt utan för slidern är gömt*/
    height: 500px;
    background-color:#0A0A0F;
    margin: 0 2vw;
    border: 1px solid rgba(0, 240, 255, 0.3);
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    display: flex;
    animation: slider 40s infinite;
    z-index: 1;
}

.sliderimage {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: right;
}


.sliderimage img {
    width: 55vw;
    border-left: 1px solid black;
    height: 100%;
    

    
}

.slide1 {
    
    background: linear-gradient(135deg, #140021, #2D0050, #3E0070);
}


.slide2 {
    background: linear-gradient(135deg, #001220, #002A3A, #00475F);;
}

.slide3 {
    background: linear-gradient(135deg, #001F2F, #2A0040, #00E5FF);;
}

.slide4 {
    background: linear-gradient(135deg, #05070D, #0A0F1F);;
}

.slide5 {
    background: linear-gradient(135deg, #140021, #2D0050, #3E0070);
    
}
@keyframes slider {
    
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}   /*slider animation*/
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}



}

.varför {
    margin: 75px 2vw;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    border: 15px;
    border-radius: 30px;
    border: 4px solid #00475F;
}


.rubrik1 {
    color: #00F0FF;
    text-shadow: 0 0 8px #00F0FF88;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.rubriktext1 {
    color: white;
    text-shadow: 0 0 8px #00E5FF;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    padding: 1rem;

}


.card-grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: 350px;
    gap: 24px;
    padding: 4rem;
}

@media (min-width:600px) {
    .card-grids {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  

    }     
}

.card {
    background: rgba(255, 255, 255, 0.03); /*Fick dessa värden och färger från Chatgpt*/
    border: 1px solid rgba(0, 240, 255, 0.3);
    border-radius: 15px;
    color: #E4F1FF;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.15), inset 0 0 12px rgba(0, 240, 255, 0.08);

    

    transition: transform 0.35s ease, box-shadow 0.35s ease;

}

.card:hover {
    transform: translateY(-6px);
    box-shadow:0 0 25px rgba(0, 240, 255, 0.35), inset 0 0 18px rgba(0, 240, 255, 0.15);

}

.card-icon {
    font-size: 3rem;
    color: #00F0FF;
    margin-bottom: 16px;
    justify-content: center;
    display: flex;
    border-bottom: 3px solid #00E5FF;

}

.card p, .card h3 {
    color: white;
    text-shadow: 0 0 8px #00E5FF;
    display: flex;
    justify-content: center;
    

}



.kursinfo {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    min-height: 700px;
    margin: 0 2vw;
    display: flex;
    justify-content: left;
    border: 1px solid rgba(0, 240, 255, 0.3);
}


.section1 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
}


.rullande {
    margin: 3em;
    width: 10vw;
    max-height: 600px;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    pointer-events: none;


}

.rullande::-webkit-scrollbar {
    display: none;
}

.rullgrupp {
    display: flex;
    flex-direction: column;
    gap: 1em;
    animation: rulla 20s infinite linear;
    padding-top: 1em;
    position: relative;
}

.kortbild {
    flex: 0 0 2.5em;
    height: 5em;
    background-color: rgba(255, 255, 255, 0.03);
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-items: center;
    border: 1px solid rgba(0, 240, 255, 0.3);
    

}

.kortbild p {
    color: white;
    text-shadow: 0 0 15px #00E5FF;
    font-size: 0.5em;
    position: relative;
    top:30%

}


@keyframes rulla {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-100%);}
}


.section2 h1 {
    color: white;
    text-shadow: 0 0 8px #00E5FF;
    font-size: 3.7em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    border-bottom: 3px solid #00E5FF;

}

.section2 p {
    color: white;
    text-shadow: 0 0 8px #00E5FF;
    max-width: 90%;
    font-size: large;
    position: relative;
    top: 1.5em;
    left: 1.5em;

}





/*Detta är början av priser.html sidan, återanvänder lite kod från index.html.*/ 

.firstcard {
    
    background: linear-gradient(135deg, #001220, #002A3A, #00475F);

}

.secondcard {
    background: linear-gradient(135deg, #140021, #2D0050, #3E0070);
}

.thirdcard {
    
    background: linear-gradient(135deg, #001F2F, #2A0040, #00E5FF);
}

.card2 {
    border: 1px solid rgba(0, 240, 255, 0.3);
    border-radius: 15px;
    padding: 10px;
    color: #E4F1FF;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.15), inset 0 0 12px rgba(0, 240, 255, 0.08);
    margin: 0 10px;
    

    transition: transform 0.35s ease, box-shadow 0.35s ease;

}

.card2 ul, .card2 h3 {
    color: white;
    text-shadow: 0 0 8px #00E5FF;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1em;
    margin: 0.2em;
    flex-wrap: wrap;

}

.card2 li {
    border-right: 1px solid #00E5FF;
}

.card2:hover {
    transform: translateY(-6px);
    box-shadow:0 0 25px rgba(0, 240, 255, 0.35), inset 0 0 18px rgba(0, 240, 255, 0.15);

}

/*Detta är början av omoss.html*/

.aboutus {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10rem;
    
}

.aboutus h1 {
    color: white;
    text-shadow: 0 0 8px #00E5FF;
    font-size: 4em;

}

.ourvision {
    display: flex;
    justify-content: space-between;
    
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6rem;

}

.ourvision h1 {
    font-size: 3.4em;
    color: white;
    text-shadow: 0 0 8px #00E5FF;
}

.ourvisionp {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-size: 1.4em;
    color: white;
    text-shadow: 0 0 8px #00E5FF;color: white;

}

.ourmission {
    display: flex;
    justify-content: space-between;
    
    background-color: rgba(170, 5, 246, 0.3);
    padding: 6rem;

}

.ourmission h1 {
    font-size: 3.4em;
    color: white;
    text-shadow: 0 0 8px #00E5FF;
}

.ourmissionp {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    font-size: 1.4em;
    color: white;
    text-shadow: 0 0 8px #00E5FF;color: white;

}

.ourvaules {
    display: flex;
    justify-content: space-between;
    
    background-color: rgba(3, 54, 171, 0.3);
    padding: 6rem;

}

.ourvaules h1 {
    font-size: 3.4em;
    color: white;
    text-shadow: 0 0 8px #00E5FF;
}

.ourvaulesp {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    font-size: 1.4em;
    color: white;
    text-shadow: 0 0 8px #00E5FF;color: white;

}

.imgcontainer {
    display: flex;
    border: 5px solid black;
    height: 300px;

}

.imggrid img {
    width: 25vw;
    height: 100%;
    margin: 0;
}

/*Början av kurser.html*/


.kurser {
    background-color: rgba(170, 5, 246, 0.3);
    padding: 3rem;
    border: 1px solid rgba(0, 240, 255, 0.3);
}

.card-grids3 {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-auto-rows: 250px;
    gap: 24px;
}

.card-icon3 {
    color: white;
    text-shadow: 0 0 8px #00E5FF;
    justify-content: center;
    display: flex;
    border-bottom: 3px solid #00E5FF;
    font-size: 3rem;

}



