* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", sans-serif;
    background: white;
    color: black;
}

nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .nav-grupp {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #3A8DFF;
    letter-spacing: 1px;
    font-family: "Rubik Mono One", sans-serif;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}

.btns {
    display: flex;
}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background-color: #3A8DFF;
    color: #0f172a;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #0aa9f3;
    box-shadow: 0 0 25px #0aa9f3;
}

#slider {
    overflow: hidden;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    margin: 0 2vw;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    display: flex;
    animation: slider 25s infinite;
    z-index: 1;
}

.sliderimage {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: right;
}


.sliderimage img {
    width: 55vw;
    border-left: 1px solid black;
    height: 100%;

    
}

.slide1 {
    background-image: linear-gradient(to right, #4CD47B, #00cc44);
}

.slide2 {
    background-color: #FF8A3D;
}

.slide3 {
    background-color: #0aa9f3;
}

.slide4 {
    background-color: #1F5FBF;
}

.slide5 {
    background-color: #4CD47B;
}
@keyframes slider {
    
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}



}

